ASSIGNMENT TWO

#Product Matching

In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('/content/flipkart_com-ecommerce_sample.csv', usecols=['uniq_id','product_name','retail_price','discounted_price'],encoding= 'unicode_escape')

In [3]:
data1.head()

,uniq_id,product_name,retail_price,discounted_price
0,c2d766ca982eca8304150849735ffef9,Alisha Solid Women's Cycling Shorts,999.0,379.0
1,7f7036a6d550aaa89d34c77bd39a5e48,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0
2,f449ec65dcbc041b6ae5e6a32717d01b,AW Bellies,999.0,499.0
3,0973b37acd0c664e3de26e97e5571454,Alisha Solid Women's Cycling Shorts,699.0,267.0
4,bc940ea42ee6bef5ac7cea3fb5cfbee7,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0

In [4]:
data1.shape

(20000, 4)

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uniq_id           20000 non-null  object
 1   product_name      20000 non-null  object
 2   retail_price      19922 non-null  float64
 3   discounted_price  19922 non-null  float64
dtypes: float64(2), object(2)
memory usage: 625.1+ KB

In [6]:
data2=pd.read_csv('/content/amz_com-ecommerce_sample.csv', usecols=['uniq_id','product_name','retail_price','discounted_price'],encoding= 'unicode_escape')

In [7]:
data2.head()

,uniq_id,product_name,retail_price,discounted_price
0,c2d766ca982eca8304150849735ffef9,Alisha Solid Women's Cycling Shorts,982,438
1,7f7036a6d550aaa89d34c77bd39a5e48,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,f449ec65dcbc041b6ae5e6a32717d01b,AW Bellies,991,551
3,0973b37acd0c664e3de26e97e5571454,Alisha Solid Women's Cycling Shorts,694,325
4,bc940ea42ee6bef5ac7cea3fb5cfbee7,Sicons All Purpose Arnica Dog Shampoo,208,258

In [8]:
data2.shape

(20000, 4)

In [9]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uniq_id           20000 non-null  object
 1   product_name      20000 non-null  object
 2   retail_price      20000 non-null  int64
 3   discounted_price  20000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 625.1+ KB

In [10]:
data=pd.merge(data1,data2, on='uniq_id')

In [11]:
data.head()

,uniq_id,product_name_x,retail_price_x,discounted_price_x,product_name_y,retail_price_y,discounted_price_y
0,c2d766ca982eca8304150849735ffef9,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438
1,7f7036a6d550aaa89d34c77bd39a5e48,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,f449ec65dcbc041b6ae5e6a32717d01b,AW Bellies,999.0,499.0,AW Bellies,991,551
3,0973b37acd0c664e3de26e97e5571454,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha Solid Women's Cycling Shorts,694,325
4,bc940ea42ee6bef5ac7cea3fb5cfbee7,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,Sicons All Purpose Arnica Dog Shampoo,208,258

In [12]:
data.shape

(20000, 7)

In [13]:
data1.tail()

,uniq_id,product_name,retail_price,discounted_price
19995,7179d2f6c4ad50a17d014ca1d2815156,WallDesign Small Vinyl Sticker,1500.0,730.0
19996,71ac419198359d37b8fe5e3fffdfee09,Wallmantra Large Vinyl Stickers Sticker,1429.0,1143.0
19997,93e9d343837400ce0d7980874ece471c,Elite Collection Medium Acrylic Sticker,1299.0,999.0
19998,669e79b8fa5d9ae020841c0c97d5e935,Elite Collection Medium Acrylic Sticker,1499.0,1199.0
19999,cb4fa87a874f715fff567f7b7b3be79c,Elite Collection Medium Acrylic Sticker,1499.0,999.0

In [14]:
data2.tail()

,uniq_id,product_name,retail_price,discounted_price
19995,7179d2f6c4ad50a17d014ca1d2815156,WALLDESIGN SMALL VINYL STICKER,1498,876
19996,71ac419198359d37b8fe5e3fffdfee09,WALLMANTRA LARGE VINYL STICKERS STICKER,1415,1424
19997,93e9d343837400ce0d7980874ece471c,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1284,1196
19998,669e79b8fa5d9ae020841c0c97d5e935,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1492,1364
19999,cb4fa87a874f715fff567f7b7b3be79c,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1484,1247

In [15]:
data.tail()

,uniq_id,product_name_x,retail_price_x,discounted_price_x,product_name_y,retail_price_y,discounted_price_y
19995,7179d2f6c4ad50a17d014ca1d2815156,WallDesign Small Vinyl Sticker,1500.0,730.0,WALLDESIGN SMALL VINYL STICKER,1498,876
19996,71ac419198359d37b8fe5e3fffdfee09,Wallmantra Large Vinyl Stickers Sticker,1429.0,1143.0,WALLMANTRA LARGE VINYL STICKERS STICKER,1415,1424
19997,93e9d343837400ce0d7980874ece471c,Elite Collection Medium Acrylic Sticker,1299.0,999.0,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1284,1196
19998,669e79b8fa5d9ae020841c0c97d5e935,Elite Collection Medium Acrylic Sticker,1499.0,1199.0,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1492,1364
19999,cb4fa87a874f715fff567f7b7b3be79c,Elite Collection Medium Acrylic Sticker,1499.0,999.0,ELITE COLLECTION MEDIUM ACRYLIC STICKER,1484,1247

In [16]:
data.columns =['uniq_id','Product name in Flipkart', 'Retail Price in Flipkart', 'Discounted Price in Flipkart','Product name in Amazon','Retail Price in Amazon','Discounted Price in Amazon']

In [17]:
data.drop(['uniq_id'],axis=1,inplace=True)

In [18]:
data.head()

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438
1,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,AW Bellies,999.0,499.0,AW Bellies,991,551
3,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha Solid Women's Cycling Shorts,694,325
4,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,Sicons All Purpose Arnica Dog Shampoo,208,258

In [50]:
product_name=input("enter product name")
product_name

enter product nameFDT Women's Leggings

"FDT Women's Leggings"

In [51]:
data.loc[(data['Product name in Flipkart'] == product_name) | (data['Product name in Amazon'] == product_name)]

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
28,FDT Women's Leggings,699.0,309.0,FDT WOMEN'S Leggings Pants,698,362